<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eweektest2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eweektest2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eweektest2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$eweektest2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="eweekDb" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:bmemaxat0f.database.windows.net,1433;Initial Catalog=eweekdb2;User ID=akeweekdb2@bmemaxat0f;Password=Eweek15ak8a" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ASPWenFormPractice1-20141026192159.mdf;Initial Catalog=aspnet-ASPWenFormPractice1-20141026192159;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eweekDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ASPWenFormPractice1-20141026192159;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ASPWenFormPractice1-20141026192159.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eweekDb_local" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=uaa_eweek;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eweekDb_local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=uaa_eweek;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eweekDbmysql" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=127.0.0.1;database=eweek;user id=root;password=Alaska898" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eweekDbmysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Database=eweek;Uid=root;Pwd=Alaska898;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eweekDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bmemaxat0f.database.windows.net,1433;Initial Catalog=eweekdb2;User ID=akeweekdb2@bmemaxat0f;Password=Eweek15ak8a</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eweekDb_local-Web.config Connection String" />
  </ItemGroup>
</Project>